<h1>Hello, Admin</h1>
<a class="btn btn-primary" routerLink="add">Create New</a>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Thumbnail</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>
        <a routerLink="detail/{{ product.id }}">{{ product.title }}</a>
      </td>
      <td>{{ product.price }}</td>
      <td>
        <img
          width="100"
          src="{{ product.thumbnail }}"
          alt="{{ product.title }}"
        />
      </td>
      <td>{{ product.description }}</td>
      <td>
        <a routerLink="edit/{{ product.id }}" class="btn btn-warning">Edit</a>
        <button class="btn btn-danger" (click)="deleteProduct(product.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
