<div *ngIf="products && products.length">
  <div *ngFor="let product of products">
    <div class="card" style="width: 18rem">
      <!-- <img src="..." class="card-img-top" alt="..." /> -->
      <div class="card-body">
        <h5 class="card-title">{{ product.name | uppercase }}</h5>
        <p>{{ product.price | currency : "VND" : "code" : "1.0-0" }}</p>
        <p class="card-text">
          {{ product.desc }}
        </p>
        <a routerLink="['products', product.id ]" class="btn btn-primary"
          >View detail</a
        >
      </div>
    </div>
  </div>
</div>
