<div *ngIf="products && products.length" class="product-list">
  <div *ngFor="let product of products">
    <div class="card product-card" style="width: 18rem">
      <img
        src="{{ product.thumbnail }}"
        class="card-img-top"
        alt="{{ product.title }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p>{{ product.price | currency : "USD" : "symbol" : "1.0-0" }}</p>
        <p class="card-text">
          {{ product.description }}
        </p>
        <a routerLink="['products', product.id ]" class="btn btn-primary"
          >View detail</a
        >
      </div>
    </div>
  </div>
</div>
