<app-header></app-header>

<form action="">
  <div class="mb-3">
    <label for="username">Username:</label>
    <input
      type="text"
      placeholder="Username..."
      name="username"
      [(ngModel)]="userInfor.username"
    />
    {{ userInfor.username }}
  </div>

  <div class="mb-3">
    <label for="password">Password:</label>
    <input
      type="password"
      placeholder="Password..."
      name="password"
      [(ngModel)]="userInfor.password"
    />
    {{ userInfor.password }}
  </div>
  <div class="md-3">
    <button class="btn btn-primary w-100" (click)="login()">Login</button>
  </div>
</form>

<app-footer></app-footer>
